.App{
    margin:  20px 100px;
}
.transaction-card{
    border:1px solid #ccc;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px 1px #ccc;
    position: relative;
}
.transaction-amount{
    font-size: 30px;
    font-weight: bold;
}
.credit-amount{
    color: green;
}
.debit-amount{
    color: red;
}
.transaction-category{
    position: absolute;
    top:20px;
    right:100px;
}
.date-text{
    position: absolute;
    bottom:10px;
    right: 100px;
}
.delete-icon{
    height: 33px;
    position:absolute;
    right: 20px;
    bottom:3px;
}
.delete-icon:hover{
    cursor: pointer;
}
.edit-icon{
    height: 33px;
    position:absolute;
    right: -80px;
}
.edit-icon:hover{
    cursor: pointer;
}
@media screen and (max-width:768px){
    .App{
        margin:  20px 10px;
    }
    .transaction-card{
     width: 300px;
     height: 150px;
    }
    .transaction-amount{
        font-size: 20px;
        font-weight: bold;
    }
    .transaction-category{
        position: absolute;
        top:10px;
        right:10px;
    }
    .date-text{
        position: absolute;
        bottom:10px;
        right: 83px;
    }
    .delete-icon{
        height: 33px;
        position:absolute;
        right: 20px;
        bottom:3px;
    }
    
    .edit-icon{
        height: 30px;
        position:absolute;
        right: 10px;
        top: 50px;
    }
    .credit-text{
        margin-top: 30px;
    }
}