
.button{
  background-color:  #6666ff;
  border: none;
  border-radius: 10px;
  min-width: 100px;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.form-control-regi{
  display: block;
  margin: 20px auto;
  font-size: 16px;
  padding: 5px 10px;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.text-center{
  text-align: center;
}
.link-text{
  text-decoration: none;
  color: black;
}

@media screen and (max-width:768px) {
  .form-control-regi{
    display: block;
    margin: 20px auto;
    font-size: 16px;
    padding: 3px 10px;
    width: 170px;
    position: relative;
    bottom: 30px;
 
}
}
