.home-img{
height:400px;
width: 600px;
border-radius: 20px;

}
.title{
    text-align:center;
    margin-top: 20px;
}
.home-text{
    text-align:center;
    font-size:25px;
    width: 700px;
    padding: 50px;
    display: block;
    margin: 100px auto;
    color: black;
    box-shadow: 0 0 5px 5px #ccddff;
    border-radius: 10px;
    margin-top: 100px;
    font-weight: 630;
}

.home-page-container{
    padding: 5px;
    height: 900px;
    background-image: url("https://img.freepik.com/premium-photo/woman-using-online-banking-when-checking-her-brokerage-account-tablet-compter_274689-18061.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
}