.signup-container{
    /* height: 0px; */
    width: 390px;
    box-shadow: 0px 0px 10px 0px lightgray;
    background-color: white;
    display: block;
    margin:80px auto;
    border-radius: 10px;
    padding-top:1px;
    padding-bottom: 10px;
}

.signup-btn{
    display: block;
    margin: 20px auto;
    width: 240px;
}
.gender{
    margin-left: 70px;
    
}
.signup-text{
    margin-top:10px;
}
