.signup-container{
    /* height: 0px; */
    width: 350px;
    box-shadow: 0px 0px 5px 1px lightcoral;
    display: block;
    margin:100px auto;
    border-radius: 10px;
    padding-top:1px;
    padding-bottom: 10px;
    
}

.signup-btn{
    display: block;
    margin: 20px auto;
    width: 240px;
}
.gender{
    margin-left: 70px;
    
}
.signup-text{
    margin-top:10px;
}
