.signup-container{
    /* height: 0px; */
    width: 390px;
    box-shadow: 0px 0px 10px 0px lightgray;
    background-color: white;
    display: block;
    margin:80px auto;
    border-radius: 10px;
    padding-top:1px;
    padding-bottom: 10px;
}

.signup-btn{
    display: block;
    margin: 20px auto;
    width: 240px;
}
.gender{
    margin-left: 70px;
    
}
.signup-text{
    margin-top:10px;
}
/* .form-control-registration{
    display: block;
    margin: 20px auto;
    font-size: 16px;
    padding: 5px 10px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
  } */

@media screen and (max-width:768px) {
    .signup-container{
        width: 270px;
    }
    .signup-btn{
        width: 200px;
        margin: 15px auto;
    }
    .button{
        font-size: 17px;
        padding: 8px 15px;
        min-width: 70px;
    }
    .gender{
        margin-left: 50px;
        
    }
}